.hotelNameCard__container {
    padding: 0 24px
}

.hotelNameCard__title {
    width: 70%;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hotelNameCard__name-rating-block {
    display: flex;

    div {
        padding-top: 14px;
    }
}