.imageCard__container {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 200px;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.imageCard__picture {
    margin-right: 12px;

    img {
        height: 200px;
        width: 232px;
        margin-top: 31px;
    }
}

.imageCard__dealType-banner {
    position: relative;
    color: red;
    background-color: white;
    top: -188px;
    text-align: center;
    padding: 6px;
    margin: 0;
    font-size: 12px;
    width: 60%;
}