@import "./components/imageCard/ImageCard.scss";
@import "./components/hotelNameCard/HotelNameCard.scss";
@import "./components/dropdown/Dropdown.scss";

body {
  padding: 24px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main__logo {
  width: 25%;
}

.main__hotel-span {
  font-style: italic;
}